.navbar-brand {
    font-size: clamp(15px, 3vw, 24px);
    font-weight: bold;
    text-decoration: none;
}

.act {
    color: #ffcc00;
}

.navbar-brand:focus,
.navbar-brand:hover {
    color: #ffcc00;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #ffcc00;
}