.cart-item {
    display: flex;
    align-items: center;
    background-color: #1c1c1c;
    padding: 15px;
    border-radius: 8px;

    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.cart-item-prod {
    display: flex;
    gap: 20px;
}

.bi-trash {
    font-size: 30px;
}

.cart-item-image {
    width: 100px;
    border-radius: 4px;
    height: 130px;
}

.cart-item-details {
    flex-grow: 2;
    color: #ffffff;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.cart-item-title {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    color: #e0e0e0;
    white-space: rap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart-item-price {
    font-size: 16px;
    color: #b3b3b3;
    justify-content: space-between;
    white-space: nowrap;
    margin: 0;
}

.cart-item-quantity-controls {
    display: flex;
    align-items: center;
    background-color: #333333;
    /* Fondo oscuro */
    border-radius: 4px;
    padding: 5px;
    width: fit-content;
}

.quantity-button {
    background-color: #1c1c1c;
    /* Botón oscuro */
    color: #ffffff;
    /* Texto blanco en el botón */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity-button:hover {
    background-color: #555555;
    /* Cambia el color al pasar el mouse */
}

.cart-item-quantity {
    margin: 0 10px;
    color: #ffffff;
    /* Texto blanco */
}

.cart-item-subtotal {
    font-size: 20px;
    font-weight: bold;
    color: #00ff00;
    white-space: nowrap;
    margin: 0;
}

.cart-item-remove-button {
    background-color: transparent;
    color: #ff0000;
    /* Texto rojo */
    border: none;
    cursor: pointer;
    text-decoration: underline;
}

.cart-item-remove-button:hover {
    color: #ff4d4d;
    /* Más claro al pasar el mouse */
}