.cardItemDetail {
    display: flex;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #333333;
    border-radius: 8px;
    background-color: #1a1a1a;
    /* Fondo oscuro para el artículo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    gap: 40px;
}

.ItemHeader {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #f5f5f5;
}

.cardItemDetail picture {
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.cardItemDetail picture img {
    max-width: 100%;
    max-height: 400px;
    object-fit: cover; /* Asegura que la imagen se ajuste al contenedor sin recortarse */
    border-radius: 8px;
}


.info-section {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}

.info-section p {
    margin: 10px 0;
    font-size: 18px;
    color: #cccccc;
    /* Texto claro para contraste */
}

.category {
    font-weight: bold;
    color: #ffcc00;
    /* Color de acento */
}

.price {
    font-size: 22px;
    font-weight: bold;
    color: #ffcc00;
}

.go-to-cart-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #ffcc00;
    color: #1a1a1a;
    /* Texto oscuro sobre botón claro */
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.go-to-cart-link:hover {
    background-color: #ff9900;
}

.cardItemDetail section:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.cardItemDetail section:last-of-type p {
    margin-bottom: 10px;
    font-size: 18px;
    color: #ffcc00;
}

.contenedor-cart {
    text-align: center;
}